<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favorite Recipes</title>
</head>
<body>
<h1>Favorite Recipes</h1>
<div id="favorites">
    <div>
        <table>
            <thead>
            <tr>
                <th>Favorites</th>
            </tr>
            </thead>
            <body>
<!--            <th:block th:each="favorite : ${favRecipes.favs}">
                <tr>
                    <td th:text="${favorite.name}"></td>
                </tr>-->
            </th:block>
            </body>
        </table>
    </div>
</div>
<form>
    <input type="button" value="Go back" onclick="history.back()">
</form>
</body>
</html>